
#gunsight
    position: absolute
    top: 50%
    left: 50%
    margin-top: -37px
    margin-left: -37px
    
.gui
    position: absolute
    z-index: 1
    margin: 0 0 0 0
    user-select: none
    pointer-events:  none
    
    .guiElement
        color: white
        font-size:  2em
        @include apply-font(400)
        text-shadow:  3px 3px 1px #333
    
    
    .timer
        @extend .guiElement
        font-size: 3.5em
        @include apply-font(700)
    
    .targets
        @extend .guiElement

#check_list
    position: absolute
    bottom: 80px
    left: 80px
    height: 200px
    width: 200px
    background-color: blue

    .check
        font-size: 28px
        color: white

#basket
    position: absolute
    bottom: 380px
    left: 80px
    width: 200px
    height: 200px
    background-color: yellow

    .line
        font-size: 28px
        color: black
        text-align: right


#stats
    position: absolute
    bottom: 580px
    left: 80px
    width: 200px
    height: 200px
    background-color: green

    .stat
        font-size: 28px
        color: white
